<div id="container">
      <div id="content">
<h1>Editar Alquiler</h1>

<%= render 'form' %>

<%= link_to 'Ver', @user ,class:"btn btn-sm btn-primary",id:"blanco" %>
<%= link_to 'Volver', users_path ,class:"btn btn-link",id:"azul" %>
</div>
</div>
</div>
